@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(49,29,107);
    background: linear-gradient(45deg, rgba(49,29,107,1) 0%, rgba(3,0,32,1) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50vh;
    height: 50vh;
    transform: translate(-50%, -50%);
}
.planet {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vh;
    width: 20vh;
    height: 20vh;
}
.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}
.planet_hitbox {
    position: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5vh;
    height: 5vh;
}
.planet_name {
    text-align: center;
}

#star_background {
    height: 100%;
    width: 100%;
}

#star {
    width: 20vh;
    height: 20vh;
    background-image: url("assets/textures/star_256.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10vh;
}

#nsikipedia {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;

    background-image: url(assets/textures/nsikipedia.gif);
    background-size: 3vh;
    width: 10vh;
    height: 10vh;
    transform-origin: top left;
}

#cpsdisplay {
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -ms-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;

    background-image: url(assets/textures/cpsdisplay.gif);
    background-size: 4vh;
    width: 20vh;
    height: 20vh;
    transform-origin: top left;
}